* {
  font-family: "Lato", sans-serif;
}
.outer-box {
  /* background-color:#FFFFFF; */

  width: 764px;
  height: 512px;
  margin-top: 94px;
  margin-left: 194px;
  border-radius: 5px;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  display: flex;
  position: absolute;
}

.card {
  position: relative;
  width: 320px;
  height: 448px;
  margin-left: 32px;
  margin-top: 32px;

  background: #8477c9;
  box-shadow: 0px 4px 4px #e7e7ff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.column {
  flex: 50%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-header {
  margin-top: 63px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 38px;
}
.rectangle {
  position: relative;
  width: 300px;
  height: 40px;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 0;
}
.question {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-left: 16px;
}
.rectangle-placeholder {
  font-size: 12px;
  line-height: 14px;
  border: 2px solid #8477c9;
  box-shadow: 0px 4px 8px #e7e7ff;
}
.rectangle-default {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid rgb(196, 196, 196);
}
.rectangle-submit {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: #8477c9;
  box-shadow: 0px 4px 8px #e7e7ff;
}
.options {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}
button {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  background-color: #8477c9;
  color: white;
  font-size: 16px;
  line-height: 19px;
}
input {
  height: 34px;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 17px;
}
p {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #8477c9;
}
.hide {
  display: none;
}
input[type="number"]:disabled {
  background: #dddddd;
}
.go-back {
  margin-left: 16px;
  color: #8477c9;
}
.card-rectangle {
  background-color: #ffffff;
  width: 278px;
  height: 48px;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-left: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}
input[type="number"]:disabled {
  background: #e4e4e4;
}
select:disabled {
  background: #e4e4e4;
}
.income-tax {
  color: #8477c9;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tax-breakdown {
  margin-top: 12px;
  margin-right: 12px;
  font-size: 18px;
  line-height: 22px;
  color: #8477c9;
  overflow: hidden;
}
.tax-bracket-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}
.tax-bracket {
  font-size: 12px;
  line-height: 14px;
}
.tax-bracket-wrap {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
}
.material-icons-outlined {
  color: #8477c9;
  margin-top: 6px;
  margin-right: 6px;
}
.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
